<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <p class="m-4 h5">プロフィールの変更</p>
      <hr class='mt-4 mb-4'>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with(model: @user, local: true, url: user_profiles_path, html: {class: 'input-group-lg'}) do |form| %>
        <div class="form-group input-group-lg">
          <label for='password'>新しいパスワード</label>
          <%= form.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group input-group-lg">
          <label for='password_confirmation'>新しいパスワード確認</label>
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= form.submit "変更する", class: 'form-control btn btn-primary mt-4' %>
      <% end %>
    </div>
  </div>
</div>