@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.card-img-top-trim {
  overflow: hidden;
  width: 100%;
  height: 200px;
  position: relative;

  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

// ------- 出品ボタン --------
.sell-p {
  position: fixed;
  right: 35px;
  bottom: 35px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  text-align: center;
  z-index: 100;
}

.camera-p {
  color: white;
  font-size: 70px;
}

.sell-s {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  z-index: 100;
}

.camera-s {
  color: white;
  font-size: 40px;
}

// ------- /出品ボタン --------


.w-85 {
  width: 85% !important;
}

.w-15 {
  width: 15% !important;
}


// .fa-camera {
//   color: white;
//   font-size: 70px;
// }