@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.card-img-top-trim {
  overflow: hidden;
  width: 100%;
  height: 200px;
  position: relative;

  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);


}
