<div class="container-fluid">
  <div class="row">
    <% if @user.products.any? %>
      <h3>Product (<%= @user.product.count %>)</h3>
      <ol class="products">
        <%= render @product %>
      </ol>
      <%= will_paginate @product %>
    <% end %>
  </div>
</div>